<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sonic</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/sion1.png}"/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/assets/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/assets/bootstrap.min.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/admin/directive.js}"></script>
    <script th:src="@{/js/admin/fingerUser.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <!--<base th:href="@{/appPage/admin/forms}">-->
    <!-- 指纹-->
    <link rel="stylesheet" th:href="@{/css/sample/box.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/sample/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/sample/fingerprint.js}"></script>
    <script type="text/javascript" th:src="@{/js/sample/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/sample/baseMoth.js}"></script>
    <script type="text/javascript" th:src="@{/js/sample/dhtmlxCommon.js}"></script>


    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/dist/metisMenu/metisMenu.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/dist/sb-admin-2.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{/css/dist/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body cz-shortcut-listen="true" ng-app="myapp" ng-controller="fingerUserEditController">
<div id="wrapper">
    <left-Directive></left-Directive>
    <div id="page-wrapper">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户管理<span style="font-size: 28px;color: #999;">{{editType}}</span></h1>

                <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">名称 :</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="inputTitle" ng-model="user.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fingerId" class="col-sm-2 control-label">指纹值 :</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" readonly id="fingerId" ng-model="user.finger">
                                <input type="hidden" class="form-control" id="fingerTemplate10" ng-model="user.fingerTxt">
                            </div>
                            <!-- 指纹-->
                            <div style="margin-top: 6px;" class="">
                                <form method="post" id="fpVerifyForm" name="fpVerifyForm"
                                      action="authLoginAction!login.do?fpLogin=fpLogin"
                                      enctype="multipart/form-data" style="display: none">
                                    <input type="hidden" id="verifyModel" name="verifyModel" /> <input
                                        type="hidden" id="verifyTemplate" name="verifyTemplate" />
                                </form>
                                <div id="fpRegisterDiv" style="display: inline;">
                                    <a id="fpRegister"
                                       onclick='submitRegister("指纹", "指纹数:", "确认保存当前修改吗？", "驱动下载", false)'
                                       title="请安装指纹驱动或启动该服务" class="showGray"
                                       onmouseover="this.className='showGray'">注册</a>
                                </div>
                                <div id="driverDownload" style="display: inline; margin: 0 0 0 5px;">
                                    <a id='downloadDriver' href='middleware/zkbioonline.exe'
                                       title='驱动下载'>驱动下载</a>
                                </div>
                                <div id="bg" style="display: none;"></div>
                                <div id="box" class="box" style="display: none;">
                                    <h2>指纹登记</h2>
                                    <div class="list">
                                        <canvas id="canvas" width="430" height="450"
                                                style="background: rgb(243, 245, 240)"></canvas>
                                        <input type="hidden" id="whetherModify" name="whetherModify" alt=""
                                               value="111" />

                                        <div style="position: absolute; left: 310px; top: 325px; width: 70px; height: 28px;">
                                            <button type="button" id="submitButtonId" name="makeSureName"
                                                    onclick="submitEvent()" class="button-form">确定</button>
                                            <!-- ${common_edit_ok}:确定 -->
                                        </div>
                                        <div style="position: absolute; left: 310px; top: 365px; width: 70px; height: 28px;">
                                            <button class="button-form" type="button" id="closeButton"
                                                    name="closeButton" onclick='cancelEvent("确认保存当前修改吗?", "指纹数:");'>
                                                取消</button>
                                            <!-- ${common_edit_cancel}:取消 -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button style="width: 70px;" ng-click="submitUpdate()" class="btn btn-default">Ok</button>
                                <button style="width: 70px;" onclick="goBack();" type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>



    </div>
</div>


<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/dist/metisMenu/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/js/dist/sb-admin-2.js}"></script>

</body>
</html>