<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sonic</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/sion1.png}"/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/assets/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/assets/jquery.js}"></script>
    <script th:src="@{/js/assets/bootstrap.min.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/assets/angular.js}"></script>
    <script th:src="@{/js/admin/directive.js}"></script>
    <script th:src="@{/js/admin/fingerUser.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <!--<base th:href="@{/appPage/admin/forms}">-->
    <script th:inline="javascript">
        var ctx = [[@{/}]];
    </script>

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/dist/metisMenu/metisMenu.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/dist/sb-admin-2.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{/css/dist/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myapp" ng-controller="fingerUserController">
<div id="wrapper">
    <left-Directive></left-Directive>
    <div id="page-wrapper">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="margin: 30px 0 20px;padding-bottom: 9px;border-bottom: 1px solid #eee;">
                    <div class="col-lg-8">
                        <span style="font-size: 36px;">用户管理</span>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input ng-model="searchTest" type="text" class="form-control" placeholder="名称..."  ng-keyup="onKeyup(event)">
                            <span class="input-group-btn">
                                      <button class="btn btn-default" type="button" ng-click="getSearchTitle()"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- button -->
                    <div class="col-lg-12" style="text-align: right;">
                        <button class="btn btn-default" type="button" ng-click="getEdit(0)">Add</button>
                        <button class="btn btn-default" type="button" ng-click="editStatus(0,1)">Show Selected</button>
                        <button class="btn btn-default" type="button" ng-click="editStatus(0,0,1)">Hide Selected</button>
                        <button class="btn btn-default" type="button" ng-click="getDelete(0)">Delete Selected</button>
                    </div>
                </div><!-- /.row -->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" name="checkboxAll" ng-click="updateSelectionAll($event)"></th>
                            <th>名称</th>
                            <th>更新时间</th>
                            <th>上线状态</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="f in fingerUsers">
                            <td> <input style="vertical-align:top;"  type="checkbox" name="checkboxClien" ng-click="updateSelection($event,f.id)" value="{{f.id}}">{{$index+1}}</td>
                            <td>{{f.name}}</td>
                            <td>{{f.updateDate.substring(0,16)}}</td>
                            <td ng-if="f.status == 0 ">Hide</td>
                            <td ng-if="f.status == 1 ">Show</td>
                            <td style="text-align: right;">
                                <button class="btn btn-default" type="button" ng-if="f.status == 1" ng-click="editStatus(f.id,0)">Hide</button><!--已发表-->
                                <button class="btn btn-default" type="button" ng-if="f.status == 0" ng-click="editStatus(f.id,1)">Show</button><!--未发表-->
                                <button class="btn btn-default" type="button" ng-click="getEdit(f.id)" >Edit</button>
                                <button class="btn btn-default" type="button" ng-click="getDelete(f.id)">Delete</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/dist/metisMenu/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/js/dist/sb-admin-2.js}"></script>

</body>

</html>
